@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply bg-white;
  box-sizing: content-box;
}

/* custom scrollbar */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
  max-height: 6px;
}

.skip-nav {
  @apply absolute px-4 py-2 transition-transform duration-200 transform -translate-y-12 left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../public/images/crop-rows.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  content-visibility: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
}

.nav {
  @apply flex justify-between items-center p-8 h-20;
}

.nav.active {
  @apply bg-white;
}

.custom-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../public/images/harvest-tractors.jpg);
}

.ct-btn-scroll {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.nav-links {
  transition: all 0.3s ease-out;
  color: rgba(55, 65, 81);
}
.hamburger {
  padding: 15px 15px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 999;
  outline: none;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgba(55, 65, 81);
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  z-index: 999;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  z-index: 999;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(144, 164, 194);
  /* border-radius: 4px; */
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/* Spin */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 64em) {
  /* 800px 50em */
  /* 1024px 64em */
  .hamburger {
    display: inline-block;
  }
  .hamburger-box {
    width: 30px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
  }
  .nav-links {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(55, 65, 81);
    background: white;
  }
  .nav-links.show {
    display: flex;
    visibility: visible;
  }

  .nav-links a {
    padding: 14px 0;
  }
}
